.main-content {
    width: 800px;
    margin-top: 10vh;
    margin-left: calc(50% - 400px);
}

.left-col {
    width: 40%;
    padding: 40px;
    float: left;
    background-color:  #008fae;
    background-image: url(../../img/img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.main-title {
    width: 100%;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 4.2em;
}

.policies-links {
}

.policies-links .links {
    color: #fff;
}

.right-col {
    float: right;
    width: 60%;
    padding: 60px;
    background-color: #fff;
}