.form {
    width: 100%;
}

.form > .form-row {
    margin-bottom: 30px;
}
.form > :last-of-type {
    margin-bottom: 0;
}

.form > .form-row > .label {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    color: #ccc;
}

.form > .form-row > .input {
    width: 100%;
    font-size: 14px;
    line-height: 1em;
    padding: 0.2em 0;
    border: none;
    border-bottom: 1px solid #ccc;
}

.form span {
    line-height: 36px;
    margin: 0 8px;
}

.form a {
    line-height: 36px;
    text-decoration: none;
}
.form a:hover {
    text-decoration: underline;
}